# Data Augmentation

In [68]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.remote.webelement import WebElement
import selenium.webdriver.support.ui as ui
import selenium.webdriver.support.expected_conditions as EC
import time
import os
import pandas as pd
import random
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup

In [33]:
en_de_train_df =  pd.read_csv("../data/en-de/train.ende.df.short.tsv",sep="\t")
en_de_train_df

,index,original,translation,scores,mean,z_scores,z_mean,model_scores
0,0,José Ortega y Gasset visited Husserl at Freibu...,1934 besuchte José Ortega y Gasset Husserl in ...,"[100, 100, 100]",100.0,"[0.9553316582231767, 1.5523622744336512, 0.850...",1.119409,-0.102446
1,1,"However, a disappointing ninth in China meant ...",Eine enttäuschende Neunte in China bedeutete j...,"[61, 70, 87]",72.66666666666667,"[-1.1951539386222017, 0.04217636328434989, -0....",-0.488591,-0.431046
2,2,"In his diary, Chase wrote that the release of ...","In seinem Tagebuch, Chase schrieb, dass die Ve...","[52, 45, 49]",48.666666666666664,"[-1.6914198455865197, -1.2163118960067345, -3....",-2.207007,-0.351719
3,3,Heavy arquebuses mounted on wagons were called...,Schwere Arquebuses auf Waggons montiert wurden...,"[61, 55, 85]",67.0,"[-1.1951539386222017, -0.7129165922903007, -0....",-0.799946,-0.432696
4,4,Once North Pacific salmon die off after spawni...,Sobald der nordpazifische Lachs nach dem Laich...,"[91, 89, 87]",89.0,"[0.45906575125885857, 0.998627440345574, -0.31...",0.381633,-0.392975
...,...,...,...,...,...,...,...,...
6995,6995,Some may also discourage or disallow unsanitar...,Einige können auch unhygienische Praktiken wie...,"[100, 95, 87, 100, 78, 85]",90.83333333333333,"[0.2654514735602496, 0.40309849169632395, 0.62...",0.544875,-0.425021
6996,6996,"In the late 1860s, the crinolines disappeared ...",In den späten 1860er Jahren verschwanden die K...,"[100, 93, 80]",91.0,"[0.2654514735602496, 0.22412516435479046, 0.32...",0.271088,-0.317499
6997,6997,"Disco was criticized as mindless, consumerist,...","Disco wurde als geistlos, konsumistisch, überp...","[63, 76, 70]",69.66666666666667,"[-1.0548174111253639, -0.4247618509526743, -1....",-1.104549,-0.300173
6998,6998,Planters would then fill large hogsheads with ...,Die Pflanzer würden dann große Heuschrecken mi...,"[70, 100, 100]",90.0,"[-1.2608678885313718, 0.37321150863630664, 0.2...",-0.207402,-0.621183
6999,6999,"He slew Krishna's most dangerous enemy, Jarasa...",Er tötete Krishnas gefährlichsten Feind Jarasa...,"[80, 100, 100]",93.33333333333333,"[0.323687427468814, 0.37321150863630664, 0.265...",0.320783,-0.279369

There are some erros in the training dataset where the values for scores and means are mixed up.

In [126]:
mean_561 = en_de_train_df.loc[561,"mean"] 
en_de_train_df.loc[561,"mean"] = en_de_train_df.loc[561,"scores"]
en_de_train_df.loc[561,"scores"] = mean_561

mean_841 = en_de_train_df.loc[842,"mean"]
en_de_train_df.loc[842,"mean"] = en_de_train_df.loc[842,"scores"] 
en_de_train_df.loc[842,"scores"]  = mean_841

mean_1263 = en_de_train_df.loc[1263,"mean"]
en_de_train_df.loc[1263,"mean"] = en_de_train_df.loc[1263,"scores"] 
en_de_train_df.loc[1263,"scores"] = mean_1263
                          
mean_3592 = en_de_train_df.loc[3592,"mean"]                      
en_de_train_df.loc[3592,"mean"] = en_de_train_df.loc[3592,"scores"]
en_de_train_df.loc[3592,"scores"] = mean_3592
                          
mean_3646 = en_de_train_df.loc[3646,"mean"] 
en_de_train_df[3646,"mean"] =  en_de_train_df.loc[3646,"scores"]
en_de_train_df.loc[3646,"scores"] = mean_3646    
    
mean_3636 = en_de_train_df.loc[3636,"mean"]
en_de_train_df.loc[3636,"mean"] = en_de_train_df.loc[3636,"scores"]
en_de_train_df.loc[3636,"scores"] = mean_3636 
      
mean_3706 =   en_de_train_df.loc[3706,"mean"]  
en_de_train_df.loc[3706,"mean"] = en_de_train_df.loc[3706,"scores"]
en_de_train_df.loc[3706,"scores"] = mean_3706
                          
mean_4534 = en_de_train_df.loc[4534,"mean"]
en_de_train_df.loc[4534,"mean"] = en_de_train_df.loc[4534,"scores"]
en_de_train_df.loc[4534,"scores"] = mean_4534
                          
mean_4863 = en_de_train_df.loc[4863,"mean"] 
en_de_train_df.loc[4863,"mean"] = en_de_train_df.loc[4863,"scores"]
en_de_train_df.loc[4863,"scores"] = mean_4863

mean_4863 = en_de_train_df.loc[4863,"mean"]                         
en_de_train_df.loc[4863,"mean"] = en_de_train_df.loc[4863,"scores"]
en_de_train_df.loc[4863,"scores"] = mean_4863

In [56]:
en_de_train_df[["mean"]] = en_de_train_df[["mean"]].apply(pd.to_numeric)

In [59]:
augmented_df = en_de_train_df[en_de_train_df["mean"]>=90].reset_index(drop=True)

## Google Translate Webscraper

In [115]:
driver = webdriver.Chrome()
driver.set_page_load_timeout(30)
lang_code = "de" # german

In [ ]:
for index, text_input in augmented_df["original"].items():
    time.sleep(1)
    driver.get("https://translate.google.com/#view=home&op=translate&sl=en&tl="+lang_code)
    time.sleep(5 + random.uniform(0,2))
    driver.find_element_by_tag_name("textarea").send_keys(text_input)
    time.sleep(7)
    output_text = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div[1]/div[1]/div[2]/div[3]/div[1]/div[2]/div/span[1]/span").text
    augmented_df.loc[index, "translation"] = output_text
    time.sleep(2)

In [120]:
augmented_df.to_csv("../augmented-data/en-de-augmented-data.tsv", index = None, header=True,sep = '\t')

In [121]:
augmented_df

,index,original,translation,scores,mean,z_scores,z_mean,model_scores
0,0,José Ortega y Gasset visited Husserl at Freibu...,José Ortega y Gasset besuchte 1934 Husserl in ...,"[100, 100, 100]",100.000000,"[0.9553316582231767, 1.5523622744336512, 0.850...",1.119409,-0.102446
1,13,"Meanwhile, US garrisons in Japan continually d...",In der Zwischenzeit entsandten US-Garnisonen i...,"[100, 72, 100]",90.666667,"[0.2654514735602496, -0.9439568253313346, 0.85...",0.057342,-0.263320
2,22,The HSBC also predicted that Vietnam's total G...,"Die HSBC prognostizierte auch, dass das gesamt...","[100, 100, 89]",96.333333,"[0.9553316582231767, 1.5523622744336512, -0.13...",0.791291,-0.291236
3,24,"He criticised speculative philosophy, equating...",Er kritisierte die spekulative Philosophie und...,"[100, 84, 89]",91.000000,"[0.9553316582231767, 0.7469297884873571, -0.13...",0.522813,-0.243865
4,26,Jackson appointed six justices to the Supreme ...,Jackson ernannte sechs Richter zum Obersten Ge...,"[100, 100, 87]",95.666667,"[0.9553316582231767, 1.5523622744336512, -0.31...",0.731633,-0.320084
...,...,...,...,...,...,...,...,...
2976,6991,This further highlighted the unreliability of ...,Dies unterstreicht weiter die Unzuverlässigkei...,"[100, 81, 91]",90.666667,"[0.2654514735602496, 0.4821429590688326, 0.045...",0.264249,-0.483504
2977,6995,Some may also discourage or disallow unsanitar...,Einige können auch unhygienische Praktiken wie...,"[100, 95, 87, 100, 78, 85]",90.833333,"[0.2654514735602496, 0.40309849169632395, 0.62...",0.544875,-0.425021
2978,6996,"In the late 1860s, the crinolines disappeared ...",In den späten 1860er Jahren verschwanden die K...,"[100, 93, 80]",91.000000,"[0.2654514735602496, 0.22412516435479046, 0.32...",0.271088,-0.317499
2979,6998,Planters would then fill large hogsheads with ...,Pflanzer füllten dann große Schweineköpfe mit ...,"[70, 100, 100]",90.000000,"[-1.2608678885313718, 0.37321150863630664, 0.2...",-0.207402,-0.621183
2980,6999,"He slew Krishna's most dangerous enemy, Jarasa...","Er tötete Krishnas gefährlichsten Feind, Jaras...","[80, 100, 100]",93.333333,"[0.323687427468814, 0.37321150863630664, 0.265...",0.320783,-0.279369

## RO-EN

In [20]:
ro_en_train_df =  pd.read_csv("../data/ro-en/train.roen.df.short.tsv",sep="\t")
ro_en_train_df

,index,original,translation,scores,mean,z_scores,z_mean,model_scores
0,0,"După doar 200 de metri, ajungem la Foișorul Bă...","Only 200 metres later, we arrive at the Former...","[23, 23, 23]",23.0,"[-1.4250914503623033, -1.9545645382882608, -1....",-1.730965,-0.724220
1,1,Guvernul numește un prefect în fiecare județ p...,The Government appoints a prefect to each coun...,"[93, 86, 100]",93.0,"[0.9971458496997823, 0.48870303275464033, 1.06...",0.851625,-0.204569
2,2,"În 1979, sovieticii au invadat Afghanistan, ia...","In 1979, the Soviets invaded Afghanistan and t...","[93, 100, 100]",97.66666666666667,"[1.0798029793660062, 1.0690255985932648, 1.031...",1.060160,-0.175484
3,3,O treime din casele sale au fost avariate sau ...,One third of his homes have been damaged or de...,"[100, 84, 92]",92.0,"[1.0484593129562183, 0.4111389828802625, 0.772...",0.744143,-0.202069
4,4,Înaintea introducerii tramvaiului la Galați se...,Before the tram was introduced in Galats it wo...,"[82, 91, 100]",91.0,"[0.3335749330058847, 0.7358069459001276, 0.833...",0.634248,-0.371213
...,...,...,...,...,...,...,...,...
6771,6995,"Pentru restul campaniei, belgienii au executat...","For the rest of the campaign, the Belgians hav...","[95, 65, 80]",80.0,"[0.8696145950617529, -0.11231333159236928, 0.4...",0.389310,-0.333843
6772,6996,Una din cele mai veche publicație românească d...,One of the oldest Romanian publication in Târg...,"[100, 100, 90]",96.66666666666667,"[1.0398406651912675, 1.0775407753762953, 0.838...",0.985450,-0.173582
6773,6997,"ionic, elaborat în aceeași perioadă, este mai ...","The ion, developed during the same period, is ...","[50, 50, 80]",60.0,"[-0.6624200361038775, -0.6222508060075113, 0.4...",-0.291348,-0.376757
6774,6998,Soldați aliați au sosit în Arhanghelsk și în V...,Aliases arrived in Arhanghelsk and Vladivostok.,"[50, 50, 80]",60.0,"[-0.6624200361038775, -0.6222508060075113, 0.4...",-0.291348,-0.179826
6775,6999,Au fost localități unde nu a scăpat nici un lo...,There were municipalities where no per capita ...,"[50, 45, 50]",48.333333333333336,"[-0.6624200361038775, -0.792229964145892, -0.8...",-0.776349,-0.390288

There are some erros in the training dataset where the values for scores and means are mixed up.

In [22]:
mean_5552 = ro_en_train_df.loc[5552,"mean"]                         
ro_en_train_df.loc[5552,"mean"] = ro_en_train_df.loc[5552,"scores"]
ro_en_train_df.loc[5552,"scores"] = mean_5552

In [23]:
mean_5552 = ro_en_train_df.loc[6490,"mean"]                         
ro_en_train_df.loc[6490,"mean"] = ro_en_train_df.loc[6490,"scores"]
ro_en_train_df.loc[6490,"scores"] = mean_5552

In [27]:
ro_en_train_df[["mean"]] = ro_en_train_df[["mean"]].apply(pd.to_numeric)

In [30]:
augmented_df = ro_en_train_df[ro_en_train_df["mean"]>=90].reset_index(drop=True)
augmented_df

,index,original,translation,scores,mean,z_scores,z_mean,model_scores
0,1,Guvernul numește un prefect în fiecare județ p...,The Government appoints a prefect to each coun...,"[93, 86, 100]",93.000000,"[0.9971458496997823, 0.48870303275464033, 1.06...",0.851625,-0.204569
1,2,"În 1979, sovieticii au invadat Afghanistan, ia...","In 1979, the Soviets invaded Afghanistan and t...","[93, 100, 100]",97.666667,"[1.0798029793660062, 1.0690255985932648, 1.031...",1.060160,-0.175484
2,3,O treime din casele sale au fost avariate sau ...,One third of his homes have been damaged or de...,"[100, 84, 92]",92.000000,"[1.0484593129562183, 0.4111389828802625, 0.772...",0.744143,-0.202069
3,4,Înaintea introducerii tramvaiului la Galați se...,Before the tram was introduced in Galats it wo...,"[82, 91, 100]",91.000000,"[0.3335749330058847, 0.7358069459001276, 0.833...",0.634248,-0.371213
4,6,"Are o industrie turistică bine dezvoltată, fii...",It has a well-developed tourist industry as a ...,"[100, 100, 100]",100.000000,"[1.0259160246377157, 1.119444292482282, 1.1112...",1.085552,-0.177656
...,...,...,...,...,...,...,...,...
2310,6969,"Prima lege comunală, privind organizarea și ad...","The first communal law, on the organisation an...","[90, 100, 85]",91.666667,"[0.6993885249322385, 1.0775407753762953, 0.624...",0.800576,-0.234934
2311,6973,Tunisia avea 85.000 de evrei când au ajuns ger...,Tunisia had 85.000 Jews when the Germans and I...,"[100, 90, 95]",95.000000,"[1.0398406651912675, 0.737582459099534, 1.0531...",0.943521,-0.170831
2312,6986,"Cheltuielile sanitare în Grecia reprezentau 9,...","Health expenditure in Greece accounted for 9,6...","[100, 90, 90]",93.333333,"[1.0398406651912675, 0.737582459099534, 0.8389...",0.872131,-0.222700
2313,6990,Au fost introduse metode de lucru noi și mai e...,New and more effective working methods have be...,"[100, 100, 91]",97.000000,"[1.0398406651912675, 1.0775407753762953, 0.881...",0.999728,-0.172934
2314,6996,Una din cele mai veche publicație românească d...,One of the oldest Romanian publication in Târg...,"[100, 100, 90]",96.666667,"[1.0398406651912675, 1.0775407753762953, 0.838...",0.985450,-0.173582

In [31]:
## Google Translate Webscraper

In [46]:
driver = webdriver.Chrome()
driver.set_page_load_timeout(30)
lang_code = "en" # german

In [ ]:
for index, text_input in augmented_df["original"].items():
    if index >  2070:
        print(index)
        driver.get("https://translate.google.com/#view=home&op=translate&sl=ro&tl="+lang_code)
        time.sleep(2 + random.uniform(0,4))
        driver.find_element_by_tag_name("textarea").send_keys(text_input)
        time.sleep(4)
        output_text = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div[1]/div[1]/div[2]/div[3]/div[1]/div[2]/div/span[1]/span").text
        augmented_df.loc[index, "translation"] = output_text

2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204

In [ ]:
augmented_df.to_csv("../augmented-data/ro-en-augmented-data.tsv", index = None, header=True,sep = '\t')

In [33]:
for index, text_input in augmented_df["original"].items():
    driver.get("https://translate.google.com/#view=home&op=translate&sl=ro&tl="+lang_code)
    time.sleep(2 + random.uniform(0,4))
    driver.find_element_by_tag_name("textarea").send_keys(text_input)
    time.sleep(3)
    output_text = driver.find_element_by_class_name("VIiyi").text
    augmented_df.loc[index, "translation"] = output_text
    time.sleep(2)

augmented_df.to_csv("../augmented-data/ro-en-augmented-data.tsv", index = None, header=True,sep = '\t')

augmented_df

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".J010ec"}
  (Session info: chrome=86.0.4240.198)

In [52]:
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div[1]/div[1]/div[2]/div[3]/div[1]/div[2]/div/span[1]/span").text

'In the Soviet army alone, 200,000 Jewish soldiers died.'

In [57]:
augmented_df

,index,original,translation,scores,mean,z_scores,z_mean,model_scores
0,1,Guvernul numește un prefect în fiecare județ p...,The government appoints a prefect in each coun...,"[93, 86, 100]",93.000000,"[0.9971458496997823, 0.48870303275464033, 1.06...",0.851625,-0.204569
1,2,"În 1979, sovieticii au invadat Afghanistan, ia...","In 1979, the Soviets invaded Afghanistan, and ...","[93, 100, 100]",97.666667,"[1.0798029793660062, 1.0690255985932648, 1.031...",1.060160,-0.175484
2,3,O treime din casele sale au fost avariate sau ...,One third of its homes were damaged or destroy...,"[100, 84, 92]",92.000000,"[1.0484593129562183, 0.4111389828802625, 0.772...",0.744143,-0.202069
3,4,Înaintea introducerii tramvaiului la Galați se...,"Before the introduction of the tram in Galați,...","[82, 91, 100]",91.000000,"[0.3335749330058847, 0.7358069459001276, 0.833...",0.634248,-0.371213
4,6,"Are o industrie turistică bine dezvoltată, fii...","It has a well-developed tourism industry, bein...","[100, 100, 100]",100.000000,"[1.0259160246377157, 1.119444292482282, 1.1112...",1.085552,-0.177656
...,...,...,...,...,...,...,...,...
2310,6969,"Prima lege comunală, privind organizarea și ad...","The first communal law, on the organisation an...","[90, 100, 85]",91.666667,"[0.6993885249322385, 1.0775407753762953, 0.624...",0.800576,-0.234934
2311,6973,Tunisia avea 85.000 de evrei când au ajuns ger...,Tunisia had 85.000 Jews when the Germans and I...,"[100, 90, 95]",95.000000,"[1.0398406651912675, 0.737582459099534, 1.0531...",0.943521,-0.170831
2312,6986,"Cheltuielile sanitare în Grecia reprezentau 9,...","Health expenditure in Greece accounted for 9,6...","[100, 90, 90]",93.333333,"[1.0398406651912675, 0.737582459099534, 0.8389...",0.872131,-0.222700
2313,6990,Au fost introduse metode de lucru noi și mai e...,New and more effective working methods have be...,"[100, 100, 91]",97.000000,"[1.0398406651912675, 1.0775407753762953, 0.881...",0.999728,-0.172934
2314,6996,Una din cele mai veche publicație românească d...,One of the oldest Romanian publication in Târg...,"[100, 100, 90]",96.666667,"[1.0398406651912675, 1.0775407753762953, 0.838...",0.985450,-0.173582

In [58]:
ro_en_train_df

,index,original,translation,scores,mean,z_scores,z_mean,model_scores
0,0,"După doar 200 de metri, ajungem la Foișorul Bă...","Only 200 metres later, we arrive at the Former...","[23, 23, 23]",23.000000,"[-1.4250914503623033, -1.9545645382882608, -1....",-1.730965,-0.724220
1,1,Guvernul numește un prefect în fiecare județ p...,The Government appoints a prefect to each coun...,"[93, 86, 100]",93.000000,"[0.9971458496997823, 0.48870303275464033, 1.06...",0.851625,-0.204569
2,2,"În 1979, sovieticii au invadat Afghanistan, ia...","In 1979, the Soviets invaded Afghanistan and t...","[93, 100, 100]",97.666667,"[1.0798029793660062, 1.0690255985932648, 1.031...",1.060160,-0.175484
3,3,O treime din casele sale au fost avariate sau ...,One third of his homes have been damaged or de...,"[100, 84, 92]",92.000000,"[1.0484593129562183, 0.4111389828802625, 0.772...",0.744143,-0.202069
4,4,Înaintea introducerii tramvaiului la Galați se...,Before the tram was introduced in Galats it wo...,"[82, 91, 100]",91.000000,"[0.3335749330058847, 0.7358069459001276, 0.833...",0.634248,-0.371213
...,...,...,...,...,...,...,...,...
6771,6995,"Pentru restul campaniei, belgienii au executat...","For the rest of the campaign, the Belgians hav...","[95, 65, 80]",80.000000,"[0.8696145950617529, -0.11231333159236928, 0.4...",0.389310,-0.333843
6772,6996,Una din cele mai veche publicație românească d...,One of the oldest Romanian publication in Târg...,"[100, 100, 90]",96.666667,"[1.0398406651912675, 1.0775407753762953, 0.838...",0.985450,-0.173582
6773,6997,"ionic, elaborat în aceeași perioadă, este mai ...","The ion, developed during the same period, is ...","[50, 50, 80]",60.000000,"[-0.6624200361038775, -0.6222508060075113, 0.4...",-0.291348,-0.376757
6774,6998,Soldați aliați au sosit în Arhanghelsk și în V...,Aliases arrived in Arhanghelsk and Vladivostok.,"[50, 50, 80]",60.000000,"[-0.6624200361038775, -0.6222508060075113, 0.4...",-0.291348,-0.179826
6775,6999,Au fost localități unde nu a scăpat nici un lo...,There were municipalities where no per capita ...,"[50, 45, 50]",48.333333,"[-0.6624200361038775, -0.792229964145892, -0.8...",-0.776349,-0.390288