# Data Augmentation

In [68]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.remote.webelement import WebElement
import selenium.webdriver.support.ui as ui
import selenium.webdriver.support.expected_conditions as EC
import time
import os
import pandas as pd
import random
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup

In [33]:
en_de_train_df =  pd.read_csv("../data/en-de/train.ende.df.short.tsv",sep="\t")
en_de_train_df

,index,original,translation,scores,mean,z_scores,z_mean,model_scores
0,0,José Ortega y Gasset visited Husserl at Freibu...,1934 besuchte José Ortega y Gasset Husserl in ...,"[100, 100, 100]",100.0,"[0.9553316582231767, 1.5523622744336512, 0.850...",1.119409,-0.102446
1,1,"However, a disappointing ninth in China meant ...",Eine enttäuschende Neunte in China bedeutete j...,"[61, 70, 87]",72.66666666666667,"[-1.1951539386222017, 0.04217636328434989, -0....",-0.488591,-0.431046
2,2,"In his diary, Chase wrote that the release of ...","In seinem Tagebuch, Chase schrieb, dass die Ve...","[52, 45, 49]",48.666666666666664,"[-1.6914198455865197, -1.2163118960067345, -3....",-2.207007,-0.351719
3,3,Heavy arquebuses mounted on wagons were called...,Schwere Arquebuses auf Waggons montiert wurden...,"[61, 55, 85]",67.0,"[-1.1951539386222017, -0.7129165922903007, -0....",-0.799946,-0.432696
4,4,Once North Pacific salmon die off after spawni...,Sobald der nordpazifische Lachs nach dem Laich...,"[91, 89, 87]",89.0,"[0.45906575125885857, 0.998627440345574, -0.31...",0.381633,-0.392975
...,...,...,...,...,...,...,...,...
6995,6995,Some may also discourage or disallow unsanitar...,Einige können auch unhygienische Praktiken wie...,"[100, 95, 87, 100, 78, 85]",90.83333333333333,"[0.2654514735602496, 0.40309849169632395, 0.62...",0.544875,-0.425021
6996,6996,"In the late 1860s, the crinolines disappeared ...",In den späten 1860er Jahren verschwanden die K...,"[100, 93, 80]",91.0,"[0.2654514735602496, 0.22412516435479046, 0.32...",0.271088,-0.317499
6997,6997,"Disco was criticized as mindless, consumerist,...","Disco wurde als geistlos, konsumistisch, überp...","[63, 76, 70]",69.66666666666667,"[-1.0548174111253639, -0.4247618509526743, -1....",-1.104549,-0.300173
6998,6998,Planters would then fill large hogsheads with ...,Die Pflanzer würden dann große Heuschrecken mi...,"[70, 100, 100]",90.0,"[-1.2608678885313718, 0.37321150863630664, 0.2...",-0.207402,-0.621183
6999,6999,"He slew Krishna's most dangerous enemy, Jarasa...",Er tötete Krishnas gefährlichsten Feind Jarasa...,"[80, 100, 100]",93.33333333333333,"[0.323687427468814, 0.37321150863630664, 0.265...",0.320783,-0.279369

There are some erros in the training dataset where the values for scores and means are mixed up.

In [126]:
mean_561 = en_de_train_df.loc[561,"mean"] 
en_de_train_df.loc[561,"mean"] = en_de_train_df.loc[561,"scores"]
en_de_train_df.loc[561,"scores"] = mean_561

mean_841 = en_de_train_df.loc[842,"mean"]
en_de_train_df.loc[842,"mean"] = en_de_train_df.loc[842,"scores"] 
en_de_train_df.loc[842,"scores"]  = mean_841

mean_1263 = en_de_train_df.loc[1263,"mean"]
en_de_train_df.loc[1263,"mean"] = en_de_train_df.loc[1263,"scores"] 
en_de_train_df.loc[1263,"scores"] = mean_1263
                          
mean_3592 = en_de_train_df.loc[3592,"mean"]                      
en_de_train_df.loc[3592,"mean"] = en_de_train_df.loc[3592,"scores"]
en_de_train_df.loc[3592,"scores"] = mean_3592
                          
mean_3646 = en_de_train_df.loc[3646,"mean"] 
en_de_train_df[3646,"mean"] =  en_de_train_df.loc[3646,"scores"]
en_de_train_df.loc[3646,"scores"] = mean_3646    
    
mean_3636 = en_de_train_df.loc[3636,"mean"]
en_de_train_df.loc[3636,"mean"] = en_de_train_df.loc[3636,"scores"]
en_de_train_df.loc[3636,"scores"] = mean_3636 
      
mean_3706 =   en_de_train_df.loc[3706,"mean"]  
en_de_train_df.loc[3706,"mean"] = en_de_train_df.loc[3706,"scores"]
en_de_train_df.loc[3706,"scores"] = mean_3706
                          
mean_4534 = en_de_train_df.loc[4534,"mean"]
en_de_train_df.loc[4534,"mean"] = en_de_train_df.loc[4534,"scores"]
en_de_train_df.loc[4534,"scores"] = mean_4534
                          
mean_4863 = en_de_train_df.loc[4863,"mean"] 
en_de_train_df.loc[4863,"mean"] = en_de_train_df.loc[4863,"scores"]
en_de_train_df.loc[4863,"scores"] = mean_4863

mean_4863 = en_de_train_df.loc[4863,"mean"]                         
en_de_train_df.loc[4863,"mean"] = en_de_train_df.loc[4863,"scores"]
en_de_train_df.loc[4863,"scores"] = mean_4863

In [56]:
en_de_train_df[["mean"]] = en_de_train_df[["mean"]].apply(pd.to_numeric)

In [59]:
augmented_df = en_de_train_df[en_de_train_df["mean"]>=90].reset_index(drop=True)

## Google Translate Webscraper

In [115]:
driver = webdriver.Chrome()
driver.set_page_load_timeout(30)
lang_code = "de" # german

In [ ]:
for index, text_input in augmented_df["original"].items():
    time.sleep(1)
    driver.get("https://translate.google.com/#view=home&op=translate&sl=en&tl="+lang_code)
    time.sleep(5 + random.uniform(0,2))
    driver.find_element_by_tag_name("textarea").send_keys(text_input)
    time.sleep(7)
    output_text = driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div[1]/div[1]/div[2]/div[3]/div[1]/div[2]/div/span[1]/span").text
    augmented_df.loc[index, "translation"] = output_text
    time.sleep(2)

In [120]:
augmented_df.to_csv("../augmented-data/en-de-augmented-data.tsv", index = None, header=True,sep = '\t')

In [121]:
augmented_df

,index,original,translation,scores,mean,z_scores,z_mean,model_scores
0,0,José Ortega y Gasset visited Husserl at Freibu...,José Ortega y Gasset besuchte 1934 Husserl in ...,"[100, 100, 100]",100.000000,"[0.9553316582231767, 1.5523622744336512, 0.850...",1.119409,-0.102446
1,13,"Meanwhile, US garrisons in Japan continually d...",In der Zwischenzeit entsandten US-Garnisonen i...,"[100, 72, 100]",90.666667,"[0.2654514735602496, -0.9439568253313346, 0.85...",0.057342,-0.263320
2,22,The HSBC also predicted that Vietnam's total G...,"Die HSBC prognostizierte auch, dass das gesamt...","[100, 100, 89]",96.333333,"[0.9553316582231767, 1.5523622744336512, -0.13...",0.791291,-0.291236
3,24,"He criticised speculative philosophy, equating...",Er kritisierte die spekulative Philosophie und...,"[100, 84, 89]",91.000000,"[0.9553316582231767, 0.7469297884873571, -0.13...",0.522813,-0.243865
4,26,Jackson appointed six justices to the Supreme ...,Jackson ernannte sechs Richter zum Obersten Ge...,"[100, 100, 87]",95.666667,"[0.9553316582231767, 1.5523622744336512, -0.31...",0.731633,-0.320084
...,...,...,...,...,...,...,...,...
2976,6991,This further highlighted the unreliability of ...,Dies unterstreicht weiter die Unzuverlässigkei...,"[100, 81, 91]",90.666667,"[0.2654514735602496, 0.4821429590688326, 0.045...",0.264249,-0.483504
2977,6995,Some may also discourage or disallow unsanitar...,Einige können auch unhygienische Praktiken wie...,"[100, 95, 87, 100, 78, 85]",90.833333,"[0.2654514735602496, 0.40309849169632395, 0.62...",0.544875,-0.425021
2978,6996,"In the late 1860s, the crinolines disappeared ...",In den späten 1860er Jahren verschwanden die K...,"[100, 93, 80]",91.000000,"[0.2654514735602496, 0.22412516435479046, 0.32...",0.271088,-0.317499
2979,6998,Planters would then fill large hogsheads with ...,Pflanzer füllten dann große Schweineköpfe mit ...,"[70, 100, 100]",90.000000,"[-1.2608678885313718, 0.37321150863630664, 0.2...",-0.207402,-0.621183
2980,6999,"He slew Krishna's most dangerous enemy, Jarasa...","Er tötete Krishnas gefährlichsten Feind, Jaras...","[80, 100, 100]",93.333333,"[0.323687427468814, 0.37321150863630664, 0.265...",0.320783,-0.279369